name: Deploy
on:
  workflow_dispatch:
  push:
    branches:
      - 'master'
env:
  EXAMPLE_SECRET: secret
  GH_TOKEN: ${{ secrets.GH_TOKEN }}
  NC_TOKEN: ${{ secrets.NC_TOKEN }}
  CF_TOKEN: ${{ secrets.CF_TOKEN }}
  TF_TOKEN: ${{ secrets.TF_TOKEN }}
  DO_TOKEN: ${{ secrets.DO_TOKEN }}
jobs:
  deploy:
    name: deploy
    runs-on: ubuntu-latest
    steps:
      - uses: google/secrets-sync-action@v1.10.0
        with:
          secrets: |
            ^EXAMPLE_.*$
            ^GH_.*$
            ^NC_.*$
            ^CF_.*$
            ^TF_.*$
            ^DO_.*$
          repositories: |
            ^.*BlakeRandall\/tf-.*$
            ^.*BlakeRandall\/dns.*$
          github_token: ${{ secrets.GH_TOKEN }}
