name: Deploy
on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * *'
  push:
    branches:
      - 'master'
env:
  EXAMPLE_SECRET: secret
jobs:
  deploy:
    name: deploy
    runs-on: ubuntu-latest
    steps:
      - uses: google/secrets-sync-action@v1.10.0
        with:
          secrets: |
            ^EXAMPLE_.*$
          repositories: |
            ^.*$
          github_token: ${{ secrets.GH_TOKEN }}
