name: Deploy
on:
  workflow_dispatch:
  push:
    branches:
      - 'master'
env:
  EXAMPLE_SECRET: secret
  GH_TOKEN: ${{ secrets.GH_TOKEN }}
jobs:
  deploy:
    name: deploy
    runs-on: ubuntu-latest
    steps:
      - uses: google/secrets-sync-action@v1.10.0
        with:
          secrets: |
            ^EXAMPLE_.*$
            ^.*_TOKEN$
          repositories: |
            ^.*BlakeRandall\/tf-.*$
            ^.*BlakeRandall\/dns.*$
          github_token: ${{ secrets.GH_TOKEN }}
